<header>
  <mat-toolbar class="custom-header">
    <span>Blog App</span>
    <span class="spacer"></span>
    <span *ngIf="(authService.userName$ | async) as userName">Welcome, {{ userName }}</span>
    <button *ngIf="(authService.isAuthenticated | async)" mat-button (click)="logout()">Logout</button>
    <button *ngIf="!(authService.isAuthenticated | async)" mat-button (click)="login()">Login</button>
    <button *ngIf="(authService.isAuthenticated | async)" mat-button routerLink="/add-blog">Add Blog</button>
  </mat-toolbar>
</header>
